/* src/FetchSoil.css */

/* Root Styles */
.App {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  color: #000000;
  padding: 20px;
  /* max-width: 1200px; */
  margin: auto;
}

/* Container for Soil Cards */
.soil-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Individual Soil Card */
.soil-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 350px;
  width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  position: relative;
  border: 2px solid #0dcaf0;
}

.soil-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Soil Card Title */
.soil-card h2 {
  margin-top: 0;
  font-size: 1.5em;
  color: #000000;
}

/* Soil Card Text */
.soil-card p {
  margin: 10px 0;
  font-size: 1em;
  color: #000000;
}

/* Buttons */
.soil-card button {
  background: #3498db;
  border: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  margin-right: 10px;
  font-size: 0.9em;
}

.soil-card button:hover {
  background: #2980b9;
  transform: scale(1.05);
}

.soil-card button:focus {
  outline: none;
}

/* Additional Button Styles */
.soil-card .update-btn {
  background-color: #2ecc71;
}

.soil-card .delete-btn {
  background-color: #e74c3c;
}

.soil-card .update-btn:hover {
  background-color: #27ae60;
}

.soil-card .delete-btn:hover {
  background-color: #c0392b;
}

/* No Data Available Message */
.no-data-message {
  font-size: 1.2em;
  color: #e74c3c;
  text-align: center;
  margin-top: 20px;
}
.soil-header {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
  color: #000000;
}
@media (max-width: 768px) {
  .soil-card {
    max-width: 100%;
  }
}
